
body {
    font-family: instrument sans;
    color: rgb(55, 55, 55);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.c1 {
    width: 700px;
    margin: 0px 0px 50px 50px;
}
.about {
    margin: 70px 0px 0px 0px;
    font-family: mada;
    font-weight: 800;
    color: rgb(55, 55, 55);
}
.about p {
    margin: 0px 0px 0px 0px;
    
}
.a {
    font-size: 24px;
}
.b {
    font-size: 73px;
}
.c {
    font-size: 48px;
}
.d {
    font-size: 38px;
}
span {
    color: rgb(245, 31, 82);
}

.buttons {
    height: 77px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: instrument sans;
    margin: 40px 0px 0px 0px ;
}
.b1,.b2 {
    width: 225px;
    height: 66px;
    border-radius: 5px;
    font-size: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.8s ease, transform ease;
}
.b1 {
    border: none;
    background-color: rgb(245, 31, 82);
    color: white;
}
.b1:hover {
    background-color: rgb(212, 55, 152);
    
}
.b2 {
    border: none;
    background-color: rgb(249, 212, 201);
    color:  rgb(245, 31, 82);
}
.b2:hover {
    background-color: rgb(231,75,117);
    color:   rgb(255, 255, 255);
}
.image {
     position: relative;
}
.img-1 {
    width: 350px;
    border-radius: 60px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.t1 {
    top: 25px;
    left: -70px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.t2 {
    top: 230px;
    left: -40px;
}
.t3 {
    top: 280px;
    left: 300px;
}
.t4 {
    top: 400px;
    left: -80px;
}
.t5 {
    top: 130px;
    right: -29px;
}
.t1 ,.t2,.t3,.t4,.t5{
    position: absolute;
    font-family: instrument sans;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(237, 81, 127);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.image:hover .t1, .image:hover .t2, .image:hover .t3, .image:hover .t4, .image:hover .t5 {
    opacity: 1;
}
.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 10px;
    font-weight: 400;
    position: absolute;
    width: 59px;
    height: 54px;
    background-color: rgb(242, 137, 165);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    top: 5px;
    left: 510px;
    

    animation-name: spin;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}
.animation:hover {
    animation-play-state: running;
}
@keyframes spin {
    0% {

    }
    50% {
        scale: 1.5;
        transform: rotate(0);
        
        
    }
    100% {
        scale: 1.5;
        transform: rotate(360deg); 
        border-radius: 50%;
        
        background-color: rgb(212, 55, 152); 
    }
}