.footer {
   
    margin: 60px 200px 20px 200px;
    display: flex;
    justify-content: space-around;
}
 
.footer p {
    margin: 0px;
    font-family: instrument sans;
    color: rgb(55, 55, 55);
}
.head {
    font-size: 20px;
    font-weight: 700;
}
.tail {
    font-size: 15px;
    font-weight: 400;
}
